/** {
  border: red dotted 1px;
}*/
.header{
  height: 237px;
  width:100%;
  margin: 0;
  background-color: blue;
}
img {
  height: 237px;
  width: 100%;
  margin: 0;
}
.links {
  height: 237px;
  width:100%;
  margin: 0;
  background-color: green;
}
.projects {
  height: 237px;
  width 100%;
  background-color: grey;
}

@media only screen and (min-width: 420px){
.header {
  float: left;
  height: 237px;
  width: 33%;
}
img {
  float: left;
  height: 237px;
  width: 33%;
}
.links {
  float: left;
  height: 237px;
  width: 33%;
}
.projects {
  float: left;
  height: 237px;
  width: 33%;
}
}
