/** {
  border: solid black 2px;
}*/
.flex-container1 {
  display: flex;
  flex-wrap:nowrap;
}
header section *{
  margin-left: 10px;
}

header section h2{
  padding-top: 8px;
  margin-left: 5px;
}

.icon-menu{
  display: inline-block;
  float: right;
}

.group::before, .group::after{
  content: "";
  display: table;
}

.group::after{
  clear: both;
}

.group {
  *zoom: 1;
}

.projects1 {
  clear: both;;
}
#proImage {
  width:60%;
}

#about_image {
  width: 20%;
  float: left;
}

footer section *{
  margin-left: 10px;
}

footer section h2{
  padding-top: 8px;
  margin-left: 5px;
}

@media only screen and (min-width: 500px){
  #proImage {
  width: 30%;
  }

  #portfolios div{
    /*float:left;*/
    width: 50%;
    /*height: 400px:*/
    margin: 0.75%;
    background-color: #cd5c5c;
  }
  #about_image {
    width: 10%;
    float: left;
  }
}
